### IntelliJ IDEA ###
.idea/
!.idea/modules.xml
out/
!**/src/main/**/out/
!**/src/test/**/out/
!baekjoon-algorithm-study.iml

### source root 설정을 위해 modules.xml과 !baekjoon-algorithm-study.iml을 예외적으로 포함하였음.

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store